+++
title = "CKI Project"
+++

{{< blocks/cover title="Continuous Kernel Integration (CKI) Project" height="full" >}}
<div class="mx-auto">
    <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
        Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
    </a>
    <a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://gitlab.com/cki-project">
        See The Code <i class="fab fa-gitlab ml-2 "></i>
    </a>
    <p class="lead mt-5 font-weight-bold">Finding kernel bugs before they hit your distribution</p>
    {{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead %}}
Our mission is to find bugs in kernel patches before they are committed to an
upstream kernel tree.
{{% /blocks/lead %}}


{{% blocks/section %}}
<div class="col-12">
We are team of kernel developers, kernel testers, and automation engineers. We
want to make each kernel maintainer’s job a little bit easier by providing
automated feedback on patchsets proposed for the Linux kernel. In addition, we
want to make it easier for new kernel developers to contribute and get testing
feedback for their patches as well.
</div>
{{% /blocks/section %}}


{{< blocks/section >}}
{{% blocks/feature icon="fab fa-gitlab" title="Contributions welcome!" url="https://gitlab.com/cki-project" %}}
We do a [Merge Request](https://gitlab.com/groups/cki-project/-/merge_requests) contributions workflow on **GitLab**. New users are always welcome!
{{% /blocks/feature %}}
{{% /blocks/section %}}
