/*

Add override styles from the theme here.

*/

body {counter-reset: h2}
h2 {counter-reset: h3}
h3 {counter-reset: h4}

@include media-breakpoint-up(md) {
    .autonumbering {
        h2[id]:before, h3[id]:before, h4[id]:before {
            display: inline;
            margin-top: 0;
            height: auto;
            visibility: visible;
        }
        h2:before {
            counter-increment: h2;
            content: counter(h2) " ";
        }
        h3:before {
            counter-increment: h3;
            content: counter(h2) "." counter(h3) " ";
        }
        h4:before {
            counter-increment: h4;
            content: counter(h2) "." counter(h3) "." counter(h4) " ";
        }
    }
}

.autonumbering #TableOfContents ul { counter-reset: item }
.autonumbering #TableOfContents li a:before { content: counters(item, ".") " "; counter-increment: item }
